<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Portraits Animation</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:900,600' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/assets/icon.png">
    <link href="/assets/icon.png" rel="apple-touch-icon-precomposed"/>
</head>
<body>
<img class="upload" src="/assets/icon.png"/>
<div class="upload">Upload your portrait.</div>
<div><small>Center your image</small></div>

<span id="ie">
    <form action="/upload" enctype="multipart/form-data" method="POST">
        <input multiple="multiple" name="upload" id="fileLoad" type="file" accept="image/*" id="capture"
               capture="camera"/><br><br>
        <input type="submit" value="Upload"/>
    </form>
</span>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    $('.upload').click(function () {
        document.getElementById('fileLoad').click();
    });
    $('#fileLoad').change(function () {
        $('form')[0].submit();
    });
</script>

</body>
</html>