<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Portraits Animation</title>
    <style>
    </style>
</head>
<body>
<form action="/upload" enctype="multipart/form-data" method="POST">
    <input multiple="multiple" name="upload" type="file"/><br><br>
    <input type="submit" value="Upload" accept="image/*" id="capture" capture="camera"/>
</form>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost');
    socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', {my: 'data'});
    });
</script>

</body>
</html>