<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload your portraits.</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:900,600' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/assets/icon.png">
    <link href="/assets/icon.png" rel="apple-touch-icon-precomposed"/>
</head>
<body>
<img class="upload" src="/assets/icon.png"/>

<div class="upload">Upload your portrait.</div>

<div>
    <form action="/upload" enctype="multipart/form-data" method="POST">
        <input name="upload" id="fileLoad" type="file"/>
        <span id="ie">
            <input type="submit" value="Upload"/>
        </span>
    </form>
</div>

<div><small>Images will be compiled into an automatically & randomly generating continuous animation.</small></div>
<div><small>This animation will be released at a future date.</small></div>

<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    $('.upload').click(function () {
        document.getElementById('fileLoad').click();
    });
    $('#fileLoad').change(function () {
        $('form')[0].submit();
    });
</script>

</body>
</html>