<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Portraits Animation</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/assets/logo.png">
    <link href="/assets/logo.png" rel="apple-touch-icon-precomposed"/>
</head>
<body>
<img src="/assets/icon-check.png"/>
<div>Your image was uploaded.</div>
<div>The animation is coming soon.</div>
</body>
</html>